<!DOCTYPE html>
<html lang=en>
    <head>
        <body>
            <h1>Form Check</h1>
            <form action="/action_page.php">
                <label for="idv">Initial Dividend Value</label>
                <input type="text" id="initial_dividend_value" name="idv"><br>
                <label for="stocklength1">Length Of Stock 1</label>
                <input type="text" id="stock_length_1" name="stocklength1"><br>
                <label for="stocklength2">Length Of Stock 2</label>
                <input type="text" id="stock_length_2" name="stocklength2"><br>
                <label for="timeBtnPay">Time Button Payments</label>
                <input type="text" id="time_btn_pay" name="timeBtnPay"><br>
                <label for="comRatio1">Common Ratio 1</label>
                <input type="text" id="com_ratio_1" name="comRatio1"><br>
                <label for="comRatio2">Common Ratio 2</label>
                <input type="text" id="com_ratio_2" name="comRatio2"><br>
                <label for="intRate">Interest Rate</label>
                <input type="text" id="int_rate" name="intRate"><br>
                <input type="submit" value="Submit">
            </form>
        </body>
    </head>
</html>

<head>