<!DOCTYPE html>
<html lang=en>

<head>

<body>
    <h1>Form Check</h1>
    <form action="/action_page.php">
        <label for="idv">Initial Dividend Value</label>
        <input type="text" id="idv" name="idv"><br>
        <label for="stocklength1">Length Of Stock 1</label>
        <input type="text" id="stocklength1" name="stocklength1"><br>
        <label for="stocklength2">Length Of Stock 2</label>
        <input type="text" id="stocklength2" name="stocklength2"><br>
        <label for="timeBtnPay">Time Button Payments</label>
        <input type="text" id="timeBtnPay" name="timeBtnPay"><br>
        <label for="comRatio1">Common Ratio 1</label>
        <input type="text" id="comRatio1" name="comRatio1"><br>
        <label for="comRatio2">Common Ratio 2</label>
        <input type="text" id="comRatio2" name="comRatio2"><br>
        <label for="intRate">Interest Rate</label>
        <input type="text" id="intRate" name="intRate"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</head>

</html>