<!DOCTYPE html>
<html lang=en>
    <head>
        <body>
            <h1>Form Check</h1>
            <form action="/action_page.php">
                <label for="idv">Initial Dividend Value</label>
                <input type="text" id="initial_dividend_value" name="idv"><br>
                <label for="stocklength">Length Of Stock</label>
                <input type="text" id="stock_length" name="stocklength"><br>
                <label for="timeBtnPay">Time Button Payments</label>
                <input type="text" id="time_btn_pay" name="timeBtnPay"><br>
                <label for="comRatio">Common Ratio</label>
                <input type="text" id="com_ratio" name="comRatio"><br>
                <label for="intRate">Interest Rate</label>
                <input type="text" id="int_rate" name="intRate"><br>
                <input type="submit" value="Submit">
            </form>
        </body>
    </head>
</html>

